{
  "presets": ["es2015"],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"]
    }],
    "transform-object-rest-spread",
    "transform-object-assign"
  ]
}
