<details ng-if="$ctrl.added || $ctrl.editable || $ctrl.removable" style="text-align: left">
    <summary>options</summary>
    <form>
        <label ng-if="$ctrl.added" style="color:#ccc">
            <input type="checkbox" ng-model="$ctrl.addEnabled"/>
            Enable add mode
            <input ng-if="$ctrl.addEnabled" ng-model="$ctrl.valueToAdd" placeholder="value to add" />
            <button ng-if="$ctrl.addEnabled" ng-click="$ctrl.onAdd({ data: $ctrl.valueToAdd })">add</button>
        </label>
    </form>
    <form>
        <label ng-if="$ctrl.editable" style="color:#ccc">
            <input type="checkbox" ng-model="$ctrl.editEnabled"/>
            Enable editable mode
        </label>
    </form>
    <form>
        <label ng-if="$ctrl.removable" style="color:#ccc">
            <input type="checkbox" ng-model="$ctrl.removeEnabled"/>
            Enable removable mode
        </label>
    </form>
</details>
<table>
    <thead>
    <tr>
        <td ng-repeat="key in $ctrl.tableKeys track by $index">{{ key }}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in $ctrl.table track by $index">
        <td ng-repeat="key in $ctrl.tableKeys track by $index">
            <button ng-if="$index===0 && $ctrl.removeEnabled" ng-click="$ctrl.onRemove({data: record})">remove</button>
            <span ng-if="$index===0">{{record[key]}}</span>
            <input ng-if="$index!==0 && $ctrl.editEnabled" ng-model="record[key]">
            <span ng-if="$index!==0 && !$ctrl.editEnabled">{{record[key]}}</span>
        </td>
    </tr>
    </tbody>
</table>