
.rates-table

  .scroll-space
    overflow:auto;
  /**
  fix commons.css rule
  */
  thead
    background-color: white !important;

  .scroll-space::-webkit-scrollbar
    width: 1em;
    height: 1em;

  .table-full-width
    width 100%

  .table-cell
    padding: 3px 15px;
    text-align: center;

  .btn-remove-container
    position: relative;
    display: block;
  .btn-remove-container__display
    display inline-block

  .btn-remove
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 13px;
    cursor: pointer;
    opacity: .1;

    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;

  .btn-remove__right
    right: 15px;

  .btn-remove-hover-place:hover .btn-remove
    opacity: 1;

  .btn-add-period
    width: 108px;
    float: right;
    margin-right: 45px;

  .currency-title
    padding-left: 15px;

  .table-cell-border-right
    border-right: 1px solid #ccc;

  .double-input
    white-space: nowrap
    display: inline

  .table-columns
    vertical-align: bottom
    background: white
    border-bottom: 1px solid #999

  .base-column
    text-align: center
    line-height: 3em

  .base-column-left
    background: #ccc;
    border-left: 1px solid #dddddd;

  .period-input
    display: inline-block
    width: 50%
    min-width: 35px
    margin-bottom: 4px

  .input-style
    width: 80px
    display: inline-block

  .btn-add-currency
    margin-left: 15px;

  .currency-select-container
    width 200px;

  .base-column-cell
    width: 100px;
    text-align: center;

  .correct-cell
    padding: 10px 30px;

  .correct-factor-input
    width: 78px;
    border-radius: 7px;

  .correct-row
    vertical-align: bottom;
    background: #eee;
    border: 1px solid #ddd;

  .currency-row
    background-color: #f5f5f5
    border: 1px solid #ddd

  .first-inside-table
    margin-bottom 70px

  .rate-comment-cell
    height: 100px

  .rate-comment
    padding: 0 20px 0;

  .rate-comment-input
    display: inline-block;
    width: 300px;


  /**
  helpers
  */
  .btn-hide
    visibility: hidden;
    transition: none;

  .text-align-center
    text-align center

  .capitalize-first-letter:first-letter
    text-transform: capitalize;