<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script type="module" src="../../src/Cube.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <script type="module">
        import DimensionTable from './component/dimension-table.js'
        import CategoryTable from './component/category-table.js'
        import ProductTable from './model/ProductTable.js'
        import factTable from './data/factTable.js'
        import schema from './data/schema.js'

        window.angular.module('demo', [])
            .component('categoryTable', CategoryTable)
            .component('dimensionTable', DimensionTable)
            .controller('AppController', class DimensionTableController{
                constructor($scope){
                    $scope.factTable = factTable;
                    $scope.schema = schema;
                    $scope.cube = new ProductTable(factTable, schema);
                    $scope.placeTable = $scope.cube.getPlace();
                    $scope.productTable = $scope.cube.getProduct();
                    $scope.markTable = $scope.cube.getMark();
                    $scope.monthTable = $scope.cube.getMonth();
                    $scope.yearTable = $scope.cube.getYear();
                    $scope.qrMonthTable = $scope.cube.getQrMonth();
                    $scope.qrTable = $scope.cube.getQr();
                    $scope.yearQrMonthTable = $scope.cube.getYearQrMonth();
                    $scope.yearQrTable = $scope.cube.getYearQr();

                    $scope.qr_selectedYear = "";
                    $scope.$watch('qr_selectedYear', (value)=>{
                        $scope.qrTable = $scope.cube.getQr(value);
                    });

                    $scope.month_selectedQr = "";
                    $scope.$watch('month_selectedQr', (month_selectedQr)=>{
                        $scope.monthTable = $scope.cube.getMonth(month_selectedQr, $scope.month_selectedYear);
                    });

                    $scope.month_selectedYear = "";
                    $scope.$watch('month_selectedYear', (month_selectedYear)=>{
                        $scope.monthTable = $scope.cube.getMonth($scope.month_selectedQr, month_selectedYear);
                    });

                    $scope.$watch('cube', () => {
                        $scope.outputData = $scope.cube.getDataArray()
                    }, true);
                }
            });

        window.angular.bootstrap(document, ['demo']);
    </script>

    <div ng-controller="AppController">

        <section>
            <h2>Fact Table <sup>(input data)</sup></h2>
            <dimension-table table="factTable"></dimension-table>
        </section>

        <section>
            <h2>Fact Table <sup>(output data)</sup></h2>
            <dimension-table ng-if="outputData" table="outputData"></dimension-table>
        </section>

        <details open>
            <summary>
                Dimension Tables <sup>(output data)</sup>
            </summary>
            <section>
                <dimension-table table="productTable"></dimension-table>
            </section>

            <section>
                <dimension-table table="placeTable"></dimension-table>
            </section>

            <section>
                <dimension-table table="markTable"></dimension-table>
            </section>

            <section>
                <dimension-table table="yearTable"></dimension-table>
            </section>
        </details>

        <details open>
            <summary>
                Specialized Dimension Tables <sup>(output data)</sup>
            </summary>

            <section>
                <dimension-table table="qrTable"></dimension-table>
                <label>
                    <strong>year</strong>
                    <select ng-model="qr_selectedYear">
                        <option value="" selected>ALL</option>
                        <option ng-repeat="member in yearTable track by $index" value="{{member.year}}" >{{member.year}}</option>
                    </select>
                </label>
            </section>

            <section>
                <dimension-table table="monthTable"></dimension-table>
                <label>
                    <strong>qr</strong>
                    <select ng-model="month_selectedQr">
                        <option value="" selected>ALL</option>
                        <option ng-repeat="member in qrTable track by $index" value="{{member.qr}}" >{{member.qr}}</option>
                    </select>
                </label>
                <label>
                    <strong>year</strong>
                    <select ng-model="month_selectedYear">
                        <option value="" selected>ALL</option>
                        <option ng-repeat="member in yearTable track by $index" value="{{member.year}}" >{{member.year}}</option>
                    </select>
                </label>

            </section>
        </details>

        <details open>
            <summary>
                Dimension Categories Tables<sup>(output data)</sup>
            </summary>

            <section>
                <category-table table="yearQrMonthTable"></category-table>
            </section>

            <section>
                <category-table table="yearQrTable"></category-table>
            </section>

            <section>
                <category-table table="qrMonthTable"></category-table>
            </section>

        </details>

        <details open>
            <summary>
                Schema - aggregate data<sup>(input data)</sup>
            </summary>
            Dimension Hierarchy:
            <code style="white-space: pre">
                money
                |- month
                |- qr
                |- year
                |- product
                |- place
                |- mark
            </code>
        </details>

    </div>
</body>
</html>