<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script type="module" src="../../src/Cube.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <script type="module">
        import DimensionTable from './component/dimension-table.js'
        import CategoryTable from './component/category-table.js'
        import ProductTable from './model/ProductTable.js'
        import factTable from './data/factTable.js'
        import schema from './data/schema.js'

        window.angular.module('demo', [])
            .component('categoryTable', CategoryTable)
            .component('dimensionTable', DimensionTable)
            .controller('AppController', class DimensionTableController{
                constructor($scope){
                    $scope.factTable = factTable;
                    $scope.cube = new ProductTable(factTable, schema);
                    $scope.placeTable = angular.copy($scope.cube.getPlace());
                    $scope.productTable = angular.copy($scope.cube.getProduct());
                    $scope.markTable = angular.copy($scope.cube.getMark());
                    $scope.monthTable = angular.copy($scope.cube.getMonth());
                    $scope.yearQrMonthTable = angular.copy($scope.cube.getYearQrMonth());
                    $scope.yearQrTable = angular.copy($scope.cube.getYearQr());
                    $scope.yearTable = angular.copy($scope.cube.getYear());
                    $scope.qrMonthTable = angular.copy($scope.cube.getQrMonth());
                    $scope.qrTable = angular.copy($scope.cube.getQr());

                    $scope.qr_selectedYear = "";
                    $scope.$watch('qr_selectedYear', (value)=>{
                        $scope.qrTable = angular.copy($scope.cube.getQr(value));
                    });

                    $scope.month_selectedQr = "";
                    $scope.$watch('month_selectedQr', (month_selectedQr)=>{
                        $scope.monthTable = angular.copy($scope.cube.getMonth(month_selectedQr, $scope.month_selectedYear));
                    });

                    $scope.month_selectedYear = "";
                    $scope.$watch('month_selectedYear', (month_selectedYear)=>{
                        $scope.monthTable = angular.copy($scope.cube.getMonth($scope.month_selectedQr, month_selectedYear));
                    });
                }
            });

        window.angular.bootstrap(document, ['demo']);
    </script>

    <div ng-controller="AppController">

        <h2>Fact Table <sup>(input data)</sup></h2>
        <section>
            <dimension-table table="factTable"></dimension-table>
        </section>

        <h2>Dimension Tables <sup>(output data)</sup></h2>

        <section>
            <dimension-table table="productTable"></dimension-table>
        </section>

        <section>
            <dimension-table table="placeTable"></dimension-table>
        </section>

        <section>
            <dimension-table table="markTable"></dimension-table>
        </section>

        <section>
            <dimension-table table="yearTable"></dimension-table>
        </section>

        <section>
            <dimension-table table="qrTable"></dimension-table>
            <select ng-model="qr_selectedYear">
                <option value="" selected>ALL</option>
                <option ng-repeat="member in yearTable" value="{{member.year}}" >{{member.year}}</option>
            </select>
        </section>

        <section>
            <dimension-table table="monthTable"></dimension-table>
            <select ng-model="month_selectedQr">
                <option value="" selected>ALL</option>
                <option ng-repeat="member in qrTable" value="{{member.qr}}" >{{member.qr}}</option>
            </select>
            <select ng-model="month_selectedYear">
                <option value="" selected>ALL</option>
                <option ng-repeat="member in yearTable" value="{{member.year}}" >{{member.year}}</option>
            </select>
        </section>

        <h2>Dimension Categories Tables<sup>(output data)</sup></h2>

        <section>
            <category-table table="yearQrMonthTable"></category-table>
        </section>

        <section>
            <category-table table="yearQrTable"></category-table>
        </section>

        <section>
            <category-table table="qrMonthTable"></category-table>
        </section>

    </div>
</body>
</html>