<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="./style.css">

	<!-- try build -->
	<script type="module" src="../../dist/cube.js"></script>
</head>
<body>

	<script type="module">
		import TreeTable from './component/tree-table.js'
		import ProductTable from './model/ProductTable.js'
		import factTable from './data/factTable.js'
		import schema from './data/schema.js'
		import Cube from '../../src/Cube.js'

		const ProductTableCube = ProductTable(window.Cube ? window.Cube.default : Cube);

		window.angular.module('demo', [])
			.component('treeTable', TreeTable)
			.controller('AppController', ['$scope', class DimensionTableController{
				constructor($scope){
					$scope.schema = schema;
					$scope.cube = new ProductTableCube(factTable, schema);
					$scope.factTable = $scope.cube.getFactTable(factTable);

					$scope.qr_selectedYear = "";
					$scope.$watch('qr_selectedYear', (year)=>{
						year = angular.copy(year);
						$scope.qrTable = $scope.cube.getQr(year);
						$scope.fotQrTable = { year: year };
					});

					$scope.month_selectedQr = "";
					$scope.monthYearTableRows = $scope.cube.getYear().rows;
					$scope.$watch('month_selectedQr', (month_selectedQr)=>{
						month_selectedQr = angular.copy(month_selectedQr);
						if (month_selectedQr){
							$scope.monthYearTableRows = $scope.cube.getYear(month_selectedQr).rows;
							// if ($scope.monthYearTableRows.length === 1){
							// 	$scope.month_selectedYear = $scope.monthYearTableRows[0].member
							// }
						}
						$scope.monthTable = $scope.cube.getMonth(month_selectedQr, $scope.month_selectedYear);
						$scope.forMonthTable = { qr: month_selectedQr, year: angular.copy($scope.month_selectedYear) }
					});

					$scope.month_selectedYear = "";
					$scope.monthQrTableRows = $scope.cube.getQr().rows;
					$scope.$watch('month_selectedYear', (month_selectedYear)=>{
						month_selectedYear = angular.copy(month_selectedYear)
						if (month_selectedYear){
							$scope.monthQrTableRows = $scope.cube.getQr(month_selectedYear).rows;
						}
						$scope.monthTable = $scope.cube.getMonth($scope.month_selectedQr, month_selectedYear);
						$scope.forMonthTable = { qr: angular.copy($scope.month_selectedQr), year: month_selectedYear }
					});

					const reset = () => {
						$scope.marketTable = $scope.cube.getMarket();
						$scope.productTable = $scope.cube.getProduct();
						$scope.markTable = $scope.cube.getMark();
						$scope.monthTable = $scope.cube.getMonth();
						$scope.yearTable = $scope.cube.getYear();
						$scope.qrMonthTable = $scope.cube.getQrMonth();
						$scope.qrTable = $scope.cube.getQr();
						$scope.yearQrMonthTable = $scope.cube.getYearQrMonth();
						$scope.yearQrTable = $scope.cube.getYearQr();
					};

					$scope.reset = reset;
					reset();

					$scope.$watch('cube', () => {
						$scope.outputData = $scope.cube.getFactTableOutput();
					}, true);
				}
			}]);

		window.angular.bootstrap(document, ['demo']);
	</script>

	<div ng-controller="AppController">
		<div class="parent">
			<div>
				<section>
					<h2>Input data</h2>
					<tree-table
						editable="false"
						table-data="factTable"
					></tree-table>
				</section>
				<section>
					<h2>Output data</h2>
					<button ng-click="cube.fill()">Normalize data</button>
					<p>Current size: {{ cube.getFacts().length }}</p>
					<p>Size of table after filling: {{ cube.cartesian().length - cube.unfilled().length }}</p>
					<p>Count of unfilling cells: {{ cube.unfilled().length }}</p>
					<br/>
					<tree-table
						editable="false"
						ng-if="outputData"
						table-data="outputData"
					></tree-table>
				</section>
			</div>

			<div>
				<details open>
					<summary>
						Dimension Categories Tables<sup>(output data)</sup>
					</summary>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="yearQrMonthTable"
							on-change="reset()"
						></tree-table>
					</section>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="yearQrTable"
							on-change="reset()"
						></tree-table>
					</section>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="qrMonthTable"
							on-change="reset()"
						></tree-table>
					</section>

				</details>
			</div>

			<div>
				<details open>
					<summary>
						Dimension Tables <sup>(output data)</sup>
					</summary>
					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="productTable"
							on-change="reset()"
						></tree-table>
					</section>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="marketTable"
							on-change="reset()"
						></tree-table>
					</section>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="markTable"
							on-change="reset()"
						></tree-table>
					</section>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="yearTable"
							on-change="reset()"
						></tree-table>
					</section>
				</details>
			</div>

			<div>
				<details open>
					<summary>
						Specialized Dimension Tables <sup>(output data)</sup>
					</summary>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="qrTable"
							on-change="reset()"
							selected-data="fotQrTable"
						></tree-table>
						<label>
							<strong>year</strong>
							<select ng-model="qr_selectedYear">
								<option value="" selected>ALL</option>
								<option ng-repeat="row in yearTable.rows track by $index" ng-value="{{row.member}}" >{{row.member.year}}</option>
							</select>
						</label>
					</section>

					<section>
						<tree-table
							added="true"
							editable="true"
							removable="true"
							table-data="monthTable"
							on-change="reset()"
							selected-data="forMonthTable"
						></tree-table>
						<label>
							<strong>qr</strong>
							<select ng-model="month_selectedQr">
								<option value="" selected>ALL</option>
								<option ng-repeat="row in monthQrTableRows track by $index" ng-value="{{row.member}}" >{{row.member.qr}}</option>
							</select>
						</label>
						<label>
							<strong>year</strong>
							<select ng-model="month_selectedYear">
								<option value="" selected>ALL</option>
								<option ng-repeat="row in monthYearTableRows track by $index" ng-value="{{row.member}}" >{{row.member.year}}</option>
							</select>
						</label>
					</section>
				</details>
			</div>
		</div>

		<details open>
			<summary>
				Schema - aggregate data<sup>(input data)</sup>
			</summary>
			Dimension Hierarchy:
			<p>
				<code style="white-space: pre">
					[money]
					&#9;\- [month]
					&#9;&#9;\- [qr]
					&#9;&#9;&#9;\- [year]
					&#9;\- [product]
					&#9;\- [market]
					&#9;\- [mark]
				</code>
			</p>

		</details>
	</div>
</body>
</html>